 /*
    General
*/
 
 .text-gray {
     color: #A9A9A9
 }
 
 .small-caps {
     font-variant: small-caps;
 }
 
 .pointer {
     cursor: pointer;
 }
 
 .no-p {
     padding-left: 0;
     padding-right: 0;
 }
 /*
    header
 */
 
 .nav-logo {
     width: 82px;
     height: 60px;
 }
 
 .nav-anchor {
     max-width: 616px;
     width: 79%;
     display: flex;
 }
 
 #logo {
     width: 105px;
     height: 105px;
 }
 /*
    portrait
*/
 
 .portrait-row {
     border-bottom: 20px solid rgba(255, 0, 0, 0.7);
 }
 
 @media screen and (min-width:319px) and (max-width: 1000px) {
     .portrait-img-column {
         display: flex;
         flex: none;
         flex-wrap: wrap;
         width: 103%;
         max-width: 103%;
     }
 }
 /*
    Contact buttons
 */
 
 .contact-button-wrapper {
     width: 71px;
     height: 110px;
     right: 0;
     top: 36%;
     z-index: 100;
 }
 
 .contact-button {
     width: 50px;
     height: 50px;
     margin-bottom: 5px;
     border: 1px solid rgba(255, 0, 0, 0.7);
     background-color: rgba(255, 0, 0, 0.7);
 }
 
 .contact-button i {
     margin-top: 10px;
 }
 /*
    services
*/
 
 .card {
     margin-top: 15px;
     margin-bottom: 15px;
 }
 
 .card-img-top {
     min-height: 115px;
 }
 
 .card-body {
     border-bottom: 20px solid rgba(255, 0, 0, 0.7);
     text-align: center;
     font-size: 0.8rem;
 }
 
 .circle-wrapper {
     position: relative;
     left: 37%;
     top: -40px;
 }
 
 .full-circle {
     height: 40px;
     width: 40px;
     background-color: rgba(255, 0, 0, 1);
     border: 3px solid #333;
     -moz-border-radius: 75px;
     -webkit-border-radius: 75px;
     vertical-align: middle;
     text-align: center;
     position: absolute;
 }
 
 .circle-plus {
     font-size: 1.7em;
     color: #fff;
 }
 /*
    Modals
   */
 
 .modal-text {
     font-size: 0.9em;
 }
 
 .modal-col-left {
     border-left: rgba(255, 0, 0, 0.7) solid 15px;
 }
 
 .modal-col-right {
     border-right: rgba(255, 0, 0, 0.7) solid 15px;
 }